/******w*************
    
    Project 3 Stylesheet
    Name: Yue Kwong Kevin Lau
    Date: April 16, 2022
    Description: This is the style sheet for Project 3: WEBSITE DEVELOPMENT & DEPLOYMENT.

********************/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

span.line {
    display:inline-block;
}

body{
    background-image: linear-gradient(180deg, #a9def9, #d3f8e2);
    background-attachment: fixed;
    font-family: Verdana;
}

div#wrapper{
    max-width: 1366px;
    width: 98%;
    margin: 15px auto;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #dfdfdf;
    background-image: linear-gradient(#fff, #f3f3f3);
    overflow: hidden;
}

    #header{
        padding: 15px;
        display: flex;
        background-color: #f3f3f3;
        border-bottom: 1px solid #e7e7e7;
    }

        #header #logo{
            margin-right: 10px;
        }

        #header-nav{
                margin-left: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
        }

            #header-nav #site-title2{
               display: none;
               text-align: center;
               margin-bottom: 5px;
            }

            #header-nav ol#header-top-menu{
                display: flex;
                align-items: flex-end;
                list-style: none;
                font-size: 15px;
                padding-bottom: 2px;
            }

                #header-nav ol#header-top-menu li:not(:first-child):before{
                    color: #aaa;
                    content: "|";
                    padding: 0 25px;
                }

                #header-nav ol#header-top-menu li a{
                    text-decoration: none;
                    color: #0066bc;
                }

                #header-nav ol#header-top-menu li a:hover, 
                #header-nav ol#header-top-menu li a:focus{
                    color: #f00;
                    transition: 0.25s;
                }

    #main{
        padding: 15px;
        display: flex;
    }

        #main a{
            text-decoration: none;
            color: #0081ce;
        }

        #main a:hover, 
        #main a:focus{
            color: #f00;
            transition: 0.25s;
        }

        #main article {
            font-size: 13px;
            width: 100%;
        }

        #main article h1{
            margin-top: 25px;
            margin-right: 7px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
            color: #333;
            font-size: 20px;
        }

        #main article a{
            font-weight: bold;
        }

        #main article h2{
            margin-top: 8px;
            margin-bottom: 15px;
            font-size: 14px;
        }


    /* Home Page */

        #main article #jumbotron{
            background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ), url(../images/laptop.jpg) no-repeat left bottom;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: 'Bebas Neue', cursive;
            font-weight: bold;
        }

        #main article #jumbotron #verse1{
            font-size: 60px;
            color: #ffca3a;
            text-shadow: -1px 0px 0px #5090d0, 1px 0px 1px #d29355;
        }

        #main article #jumbotron #verse2{
            font-size: 30px;
            font-style: italic;
            color: #8ac926;
            text-shadow: -1px 0px 0px #5090d0, 1px 0px 1px #d29355;
            margin-top: 15px;
        }

        #main article h3{
            font-size: 14px;
            color: #0081ce;
            margin-top: 25px;
        }

        #main article section.experiment{
            margin-top: 30px;
            border: 2px solid #ffb600;
            border-radius: 5px;
        }

        #main article div.experiment-group > section.experiment:nth-of-type(1){
            margin-top: 15px;
        }

        #main article section.experiment div.exp_header{
            background-color: #f3f3f3;
            border-bottom: 1px solid #ccc;
            padding: 10px;
        }

        #main article section.experiment div.exp_header h4.exp_title{
            line-height: 1.5em;
            font-weight: bold;
        }

        #main article section.experiment div.exp_header p.exp_date{
            margin-top: 8px;
            color: #003f88;
            font-weight: normal;
        }

        #main article section.experiment div.exp_desc{
            padding: 10px;

        }

        #main article section.experiment div.exp_desc p{
            margin-bottom: 5px;
        }

        #main article section.experiment div.exp_desc img{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            border: 1px solid #777;
        }

        #main article section.experiment div.exp_desc p span.download,
        #main article section.experiment div.exp_desc p span.api{
            font-weight: bold;
            margin-right: 10px;
            line-height: 1.5em;
        }

    /* Experiments Page */
        #main article section.experiment table#exp_api_waste_collection_days_table{
            margin: 10px auto;
            border: 1px solid #777;
            color: #333;
            border-collapse: collapse;
            width: 100%;
            max-width: 800px;
        }

        #main article section.experiment table#exp_api_waste_collection_days_table caption{
            padding: 10px;
            font-weight: bold;
            color: #003f88;
            line-height: 1.5em;
        }

        #main article section.experiment table#exp_api_waste_collection_days_table thead th{
            text-align: left;
        }

        #main article section.experiment table#exp_api_waste_collection_days_table thead tr{
            background-color: #f3f3f3;
        }
        
        /* Zebra Striping */
        #main article section.experiment table#exp_api_waste_collection_days_table tbody tr:nth-child(even){
            background-color: #e3f2fd;
        }

        #main article section.experiment table#exp_api_waste_collection_days_table tbody tr:hover{
            background-color: #faf0ca;
        }

        #main article section.experiment table#exp_api_waste_collection_days_table th,
        #main article section.experiment table#exp_api_waste_collection_days_table td{
            padding: 10px;
            vertical-align: top;
        }

        #main article section.experiment #tree_inventory_piechart{
            width: 350px;
            margin: 30px auto 15px auto;
        }

    /* Contact Page */
        #contactForm{
            max-width: 500px;
            margin: 0 auto;
        }

        #contactForm fieldset#contactInfo{
            padding: 10px;
        }

        #contactForm fieldset#contactInfo ul{
            list-style: none;
        }

        #contactForm fieldset#contactInfo li{
            padding: 8px 10px;
        }

        #contactForm fieldset#contactInfo label{
            display: inline-block;
            line-height: 1.5em;
            width: 110px;
            margin-top: 2px;
            vertical-align: top;
        }

        #contactForm fieldset#contactInfo input{
            display: inline-block;
            height: 26px;
            padding: 5px;
            color: #333;
            width: 340px;
        }

        #contactForm fieldset#contactInfo input:focus, #contactForm fieldset#contactInfo textarea:focus{
            background-color: #faf0ca;
            color: blue;
        }

        #contactForm fieldset#contactInfo textarea{
            color: #333;
            padding: 5px;
            width: 340px;
        }

        #contactForm fieldset#contactInfo p{
            display: block;
        }

        #contactForm fieldset#contactInfo .error{
            margin: 3px 0 0 115px;
            color: red;
        }

        #contactForm fieldset#contactInfo #btnSubmit, #contactForm fieldset#contactInfo #btnReset{
            color: #333;
            padding: 5px;
            margin-top: 5px;
            width: 100px;
        }

        #contactForm fieldset#contactInfo #btnSubmit{
            margin-right: 15px;
        }

    /* Thanks Page */
        #thank_you_smile{
            display: block;
            margin: 0 auto;
        }

    #footer{
        text-align: center;
        font-size: 10px;
        text-shadow: 1px 0px 0px #ccc;
        padding: 15px;
        line-height: 1.5em;
    }

        #footer a{
            text-decoration: none;
            color: #0081ce;
        }

        #footer a:hover, 
        #footer a:focus{
            color: #f00;
            transition: 0.25s;
        }

        #footer ol li{
            list-style: none;
        }

            #footer ol li:not(:first-child):before{
                color: #cacaca;
                text-shadow: 1px 0px 0px #888;
                content: "|";
                padding: 0 15px;
            }

        #footer div#footer-top-container nav ol{
            display: flex;
            justify-content: center;
            font-size: 11px;
        }

        #footer div#footer-middle-container {
            margin-top: 5px;
        }

        #footer div#footer-middle-container img#linkedInLogo {
            width: 15px;
            height: 13px;
            vertical-align: top;
            margin-left: 3px;
        }

        #footer div#footer-bottom-container ol{
            display: flex;
            justify-content: center;
            color: #888;
        }


/* Media Query */

@media(max-width: 1024px){
    #header nav{
            margin: 0px auto;
    }
}

@media(max-width: 640px){
    #header #site-title1{
        display: none;
    }

    #header #site-title2{
        display: block;
    }
}

@media(max-width: 560px){
    #main article #jumbotron #verse1{
        font-size: 48px;
    }

    #main article #jumbotron #verse2{
        font-size: 24px;
    }

    #contactForm fieldset#contactInfo .error{
        margin-left: 0;
    }

    #main article section.experiment div.exp_desc img{
        max-width: 350px;
        margin-right: 0;
    }
}